.DS_Store
.vscode
.history
node_modules
package-lock.json
package.json
app
.env
# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore R private file
data/modifyAllExcel.Rmd